/* main section */
main {
    all: unset;
}

html {
    position: relative;
}

.title {
    margin: 2em auto 1em;
    text-align: center;
}

.search-bar {
    width: 70%;
    margin: 0 auto;
}

.search-bar > input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0.3em 0.6em #00000029;
    border: 1px solid #707070;
    border-radius: 2.3em;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    color: #A8A8A8;
    margin: 0;
    box-sizing: border-box;
    padding: 1em;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

input:hover {
    box-shadow: 0.2em 0.5em 0.5em 0em rgba(0, 0, 0, 0.30);
}

input:focus {
    outline: solid 0.2em rgba(99, 98, 98, 0.4);
}

.social-section {
    display: flex;
    justify-content: space-between;
}

.wrapper-personnel {
    max-width: 75vw;
    margin: 5em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    padding-bottom: 18em;
    margin-bottom: 0em;
}

.person {
    box-shadow: 0em 0.8em 2.4em 0em rgb(0, 0, 0, 0.5);
    float: left;
    width: 33em;
    height: 28em;
    position: relative;
    margin: 2em;
    border-radius: 2em;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: all 0.6s ease;
}

.front img {
    width: 100%;
    height: 100%;
    border-radius: 2em;
}

.back {
    background: linear-gradient(to bottom right, rgba(54, 25, 153, 0.5), rgba(120, 255, 241, 1));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0.5em solid #222;
    z-index: -2;
    box-sizing: border-box;
    border-radius: 2em;
    /* cursor: pointer; */
    /* z-index: 1; */
}

.pname {
    font-weight: bold;
    font-size: 2.2rem;
}

.description {
    margin: 1em 0;
}

.back-content {
    padding: 0 8em;
}

.specialisation .fa {
    font-weight: bold;
    font-size: 2.2rem;
}

.specialisation p {
    font-weight: bold;
}

/* hover effect on person */

.person .back-content {
    transform: scale(0);
    opacity: 0;
    transition: transform 1s, opacity 1s ease;
}

.person:hover .front {
    width: 10em;
    height: 10em;
    left: calc(100% - 5em);
    top: calc(50% - 5em);
}

.person:hover .front img {
    border-radius: 5em;
    border: 1px solid #333;
}

.person:hover .back-content {
    transform: scale(1);
    opacity: 1;
}

.footer {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
}

/* media queries */

@media screen and (max-width: 1013px) {
    .wrapper-personnel {
        max-width: 95vw;
    }
}

@media screen and (max-width: 799px) {
    .search-bar > input {
        padding: 0.9em;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 3.7rem;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 3.1rem;
        margin: 3em auto 0.3em;
    }

    .wrapper-personnel {
        margin-top: 0em;
    }

    .person {
        width: 30em;
        height: 25em;
    }
}

@media screen and (max-width: 410px) {
    .title {
        font-size: 2.6rem;
    }

    .person {
        width: 25em;
        height: 20em;
    }

    .pname {
        font-weight: bold;
        font-size: 1.2rem;
    }
        
    .specialisation .fa {
        font-weight: bold;
        font-size: 1.2rem;
    }
}